version: '2'
services:
  db:
    image: postgres:9.6
    environment:
      POSTGRES_USER: bla
      POSTGRES_PASSWORD: bla
      POSTGRES_DB: criticalmaps
    ports:
      - "5432:5432"
    restart: always

  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:3001"
    volumes:
      - .:/usr/src/app
    depends_on:
      - db
    links:
      - db
    environment:
      NODE_ENV: production
      DEBUG: "*"
      DATABASE_URL: postgres://bla:bla@db:5432/criticalmaps
    restart: always
